<!-- <button><%= link_to "Back to Index", photos_path %></button>
 -->
<div class="hero-unit">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <!-- <img src="/assets/img01.png" alt=""> -->
                <%= image_tag(@photo.url, alt: "image") %>
                
                <div class="carousel-caption">
                    <h3><%= @photo.name %></h3>
                    <span>By: <%= @photo.author %></span>
                    <p><%= @photo.description %></p>
                    <p>
                    	<% @photo.tags.each do |tag| %>
  						Category: <%= link_to tag.name, tagged_url(:tag => tag.name) %>
						<% end %>
                   	</p>
                </div>				

				<div class="carousel-votes">

				<div class="the-vote">
					<ul class="pager">
						<li class="up">
							<%= link_to "Vote Up", "#{photo_path}/vote_up" %></li>
						<li class="counter">
							<p class="vote-counter"><%= @photo.votes %></p>
						</li>
						<li class="down">
							<%= link_to "Vote Down", "#{photo_path}/vote_down" %>
						</li>
					</ul>
				</div>

				<div class="image-actions">
					<ul>
						<li>
							<button type="button" class="btn btn-danger"><%= link_to "Delete", @photo, :confirm => "Are you sure you want to delete this picture?",:method => :delete %>
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-warning">
								<%= link_to "Edit", edit_photo_path %>
							</button>
						</li>
					</ul>
				</div>
			</div>


            </div>
			</div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="fix-carousel-control-right right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>





<div class="comments">
		<h2>Comments</h2>
		<% @photo.comments.each do |comment| %>
			<p> <%= comment.name %> <%= comment.body %></p> 
		<% end %>
		<%= form_for ([@photo, @photo.comments.build]) do |f| %>
			<%= f.label :author %><br/>
			<%= f.text_field :name %><br/>
			<%= f.label :comment %>
			<%= f.text_area :body %>
			<%= f.submit %>
		<% end %>
</div>


</div>
	

<!-- 		<p>Name: <%= @photo.name %><br/>Contributor: <%= @photo.author %></p>
 -->		