<button><%= link_to "Back to Index", photos_path %></button>
<class ="container">
<%= image_tag(@photo.url) %>
<p>Name: <%= @photo.name %><br/>Contributor: <%= @photo.author %></p>
<p>Current Votes: <%= @photo.votes %></p>

<br/>


<button><%= link_to "Delete", @photo, :confirm => "Are you sure you want to delete this picture?", :method => :delete %></button>

<button><%= link_to "Edit", edit_photo_path %></button>

<button><%= link_to "Vote Up", "#{photo_path}/vote_up" %></button>
<button><%= link_to "Vote Down", "#{photo_path}/vote_down" %></button>

<div class="tags"><% @photo.tags.any? %>
  <% @photo.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>
</div>

<h2>Comments</h2>

<% @photo.comments.each do |comment| %>
<p> <%= comment.name %> <%= comment.body %></p> 
<% end %>


<%= form_for ([@photo, @photo.comments.build]) do |f| %>
<%= f.label :author %><br/>
<%= f.text_field :name %><br/>
<%= f.label :comment %>
<%= f.text_area :body %>
<%= f.submit %>
<% end %>